header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #3d444d;
  gap: 1.25rem;
}

header .tabs a p {
  display: none;
}

header a {
  text-align: center;
  border: 0;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo {
  font-size: 1.5rem;
}

.tabs {
  display: flex;
  gap: .25rem;
}

.tabs a {
  cursor: pointer;
  transition: 120ms;
  padding: .20rem .5rem;
}

.tabs a p {
  transition: 120ms;
  /* workaround for centering the */
  /* icon on lo-dpi displays */
  padding: 0 0 1.2px 0;
  margin: 0;
}

.tabs a:hover {
  transition: 120ms;
  color: inherit;
  background-color: #212830;
  border-radius: .25rem;
}

@media (min-width: 625px) {
  header {
    flex-direction: row;
  }

  header .tabs a p {
    display: inline;
  }
}

@media (min-width: 800px) {
  header {
    flex-direction: row;
  }

  header .tabs a p {
    display: inline;
  }
}
